[Desktop Entry]
Type=Application
Name=ToonTown Controller
Icon=toontown-controller
Exec=toontown-controller
Terminal=false
Categories=Game;RolePlaying;
